body {
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
  flex-direction: row;
  height: 100%;
}

.dotCont {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  bottom: 0px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 0 2px;
  position: relative;
  bottom: 0px;
  background-color: transparent;
  background-position: top center;
  background-size: contain;
  background-repeat: repeat-x;
  border-radius: 50%;
  z-index: 1;
  display: inline-block;
  transition: height 0.1s ease-out;
}

.active,
.dot:hover {
  height: 50px;
  width: 50px;
}

.container {
  width: 100%;
  display: block;
  max-height: 1000px;
}

#Sun {
  background-image: url('Solary System/Sun/Sun_Planet.png');
}
.TheSun {
  position: absolute;
  left: -26%;
  top: 5%;
}
.TheSunImg {
  height: 750px;
  width: 637px;
}
#Mercury {
  background-image: url('Solary System/Mercury/Mercury_Planet.png');
}
.TheMercury {
  position: absolute;
  left: 16%;
  top: 51%;
}
.TheMercuryText {
  position: absolute;
  left: 15.7%;
  text-align: center;
  top: 35%;
}
.TheMercuryImg {
  height: 60px;
  width: 60px;
}
#Venus {
  background-image: url('Solary System/Venus/Venus_Planet.png');
}
.TheVenus {
  position: absolute;
  left: 21%;
  top: 47%;
}
.TheVenusText {
  position: absolute;
  left: 24%;
  top: 35%;
}
.TheVenusImg {
  height: 120px;
  width: 120px;
}
#Earth {
  background-image: url('Solary System/Earth/Earth_Planet.png');
}
.TheEarth {
  position: absolute;
  left: 30%;
  top: 47%;
}
.TheEarthText {
  position: absolute;
  left: 32%;
  top: 35%;
}
.TheEarthImg {
  height: 120px;
  width: 120px;
}
#Mars {
  background-image: url('Solary System/Mars/Mars_Planet.png');
}
.TheMars {
  position: absolute;
  left: 39%;
  top: 51%;
}
.TheMarsText {
  position: absolute;
  left: 39.5%;
  top: 35%;
}
.TheMarsImg {
  height: 60px;
  width: 60px;
}
#Jupiter {
  background-image: url('Solary System/Jupiter/Jupiter_Planet.png');
}
.TheJupiter {
  position: absolute;
  left: 45%;
  top: 42%;
}
.TheJupiterText {
  position: absolute;
  left: 49.5%;
  top: 35%;
}
.TheJupiterImg {
  height: 200px;
  width: 200px;
}
#Saturn {
  background-image: url('Solary System/Saturn/Saturn_Planet.png');
}
.TheSaturn {
  position: absolute;
  left: 57%;
  top: 40%;
}
.TheSaturnText{
  position: absolute;
  left: 67%;
  top: 35%;
}
.TheSaturnImg {
  height: 220px;
  width: 380px;
}
#Uranus {
  background-image: url('Solary System/Uranus/Uranus_Planet.png');
}
.TheUranus {
  position: absolute;
  left: 82%;
  top: 49%;
}
.TheUranusText{
  position: absolute;
  left: 83.3%;
  top: 35%;
}
.TheUranusImg {
  height: 100px;
  width: 100px;
}
#Neptune {
  background-image: url('Solary System/Neptune/Neptune_Planet.png');
}
.TheNeptune {
  position: absolute;
  left: 90%;
  top: 50%;
}
.TheNeptuneText{
  position: absolute;
  left: 90%;
  top: 35%;
}
.TheNeptuneImg {
  height: 90px;
  width: 90px;
}

